//size
$width-content-desktop: 1280px;
$width-content-tablet: 786px;
$width-content-mobile: 980px;

//colors
$triangle-background: #000002;
$header-background: #252422;
$header-circle: #2b1e02;
$rhomb-color: #a1a09e;

//text
$nav-text: #b9c4ce;
$h1-text: #F3FDF8;
